body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    background-repeat: no-repeat ;
    background-size: cover;
    background-image: url("./img/sigma.jpg");
}
